@model IEnumerable<Courier_Management_System.Models.Consignment_Details>

@{
    ViewData["Title"] = "Index";
}

<h1>Your Orders</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Package Type
            </th>
            <th>
                Date
            </th>
            <th>
                Destination City
            </th>
            <th>
                Consignee Name
            </th>
            <th>
                Address
            </th>
            <th>
                Package Weight
            </th>
            <th>
                Amount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.package_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.destination_city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consignee_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pkg_weight_in_grams)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                <a asp-action="Details" class="btn btn-success" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-success" asp-controller="User" asp-action="Profile">Home</a>
</p>
