@model Courier_Management_System.Models.Consignment_Details

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consignment_Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.package_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.package_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.destination_city)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.destination_city)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consignee_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consignee_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pkg_weight_in_grams)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pkg_weight_in_grams)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
